<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Task2</display-name>
    <servlet-name>Task2</servlet-name>
    <servlet-class>practice.Task1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task2</servlet-name>
    <url-pattern>/Task2</url-pattern>
  </servlet-mapping>
  <display-name>Servlet_Jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Task1</servlet-name>
    <servlet-class>practice.Task1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task1</servlet-name>
    <url-pattern>/Task1</url-pattern>
  </servlet-mapping>
</web-app>